# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Android/iOS build files
android/app/build/
ios/build/
*.arsc.flat

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android/iOS specific
*.apk
*.aab
*.ipa
*.xcarchive

# Build folders
**/build/
**/dist/ 